h4 {
    margin: 0.5em auto 0.5em auto;
}

.filterBoxContainer {
    border: 1px solid var(--border-color-light);
    border-radius: var(--radius-2);
    width: 25em;
    margin: 0 auto 0 auto;
}

.filterBox {
    display: flex;
    justify-content: center;
}

.filterTile {
    flex: 1 1 25%;
}

.filterButton {
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 0.5em;
}