.location-card {
    border: 1px solid var(--border-color-light);
    border-radius: var(--radius-2);
    margin: 1em;
    min-width: 25em;
}

.location-details-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--margin-2);
}

.brewpub {
    color: var(--marker-color-brewpub);
}

.contact {
    margin: auto;
}

.locationType {
    margin: auto;
}