h1 {
    color: var(--text-color-dark);
}

.Content-container {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.Map-container {
    background-color: var(--background-color-card);
    border: 1px solid var(--border-color-light);
    border-radius: var(--radius-2);
    flex-grow: 1.5;
    min-width: 10em;
    height: min-content;
}

.Locations-container {
    background-color: var(--background-color-card);
    border: 1px solid var(--border-color-light);
    border-radius: var(--radius-2);
    flex-grow: 1;
    min-width: 10em;
    height: 10em;
}