:root {
  --background-color-main: #FFF9C2;
  --background-color-highlight: #FFF170;
  --background-color-dark: #49271D;
  --background-color-special: #FF7F11;

  --text-color-dark: #0F0806;
  --text-color-light: #FFFDEB;
  --text-color-special: #FF7F11;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  background-color: var(--background-color-highlight);
  min-height: 4rem;
  font-size: calc(10px + 2vmin);
}

.App-main {
  background-color: var(--background-color-main);
  min-height: 4rem;
  flex-grow: 2;
}

.App-footer {
  background-color: var(--background-color-dark);
  min-height: 4rem;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
