:root {
  --background-color-main: #FFF9C2;
  --background-color-highlight: #FFF170;
  --background-color-dark: #49271D;
  --background-color-special: #FF7F11;
  --background-color-card: #FFFDEB;
  --background-color-hover: #FFFBD6;

  --border-color-light: #EDB082;
  --border-color-dark: #49271D;

  --text-color-dark: #0F0806;
  --text-color-light: #FFFDEB;
  --text-color-special: #FF7F11;

  --marker-color-bar: #E71D36;
  --marker-color-brewery: #D19C1D;
  --marker-color-brewpub: #2176FF;
  --marker-color-beerstore: #37FF8B;
  --marker-color-inactive: #A5B0B6;

  --radius-1: 0.5em;
  --radius-2: 1em;
  --radius-3: 1.5em;
  --radius-4: 2em;

  --margin-1: 0.5em;
  --margin-2: 1em;
  --margin-3: 1.5em;
  --margin-4: 2em;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  background-color: var(--background-color-highlight);
  min-height: 4rem;
  font-size: calc(10px + 2vmin);
}

.App-main {
  background-color: var(--background-color-main);
  min-height: 4rem;
  flex-grow: 2;
}

.App-footer {
  background-color: var(--background-color-dark);
  min-height: 4rem;
  color: var(--text-color-light);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
