nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 4rem;
    padding-left: 1rem;
}

.link {
    color: var(--text-color-dark);
    font-size: 1.25rem;
}

.active {
    color: var(--text-color-special);
  }